
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Contact request from <%= @name %>.</h1>
    <p>
      Contact request from <%= @name %> with the subject <%= @subject %>.
    </p>
    <p>
      <%= @message %>
    </p>
    <p><%= @email %></p>
  </body>
</html>