
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="background-color:lightblue;border-radius:10px;">Contact request from <%= @name %>.</h1>
    <p>
      New contact request from <%= @name %> with the subject "<%= @subject %>".
    </p>
    <p>
      <%= @message %>
    </p>
    <p>Email Address: <%= @email %></p>
  </body>
</html>