<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="background-color:lightblue;border-radius:10px;">Post Activity report for <%= @title %>.</h1>
    <p><%= @location %></p>
    <p><%= @date %></p>
    <p><%= @details %></p>
    <p><%= @attendees %></p>
  </body>
</html>