<div class="container text-center	">
	<div class="btn-group" role="group">
		<button class="btn btn-primary active">Activities</button>
		<button class="btn btn-primary"><%= link_to "Staff Tasking", asset_path("st.pdf"), target: "_blank" %></button>
		<button class="btn btn-primary"><%= link_to "NCO Tasking", asset_path("nt.pdf"), target: "_blank" %></button>
	</div>
</div>
<div class="container">
<div class="row no-gutters">
	<!-- Display all the activities as buttons in date order -->
	<% @my_activities = Activity.order('activity_date ASC') %>
  <% @my_activities.each do |activity| %>
  	<% if activity.archived != true %>
    	<% case activity.category %>
    	<% when "Airborne" %>
	    	<div class="btn-activity col-12 text-center airborne">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Adventure Training" %>
	    	<div class="btn-activity col-12 text-center adventureTraining">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Community" %>
	    	<div class="btn-activity col-12 text-center community">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Shooting" %>
	    	<div class="btn-activity col-12 text-center shooting">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Sports" %>
	    	<div class="btn-activity col-12 text-center sports">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Fieldcraft" %>
	    	<div class="btn-activity col-12 text-center fieldcraft">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Leadership" %>
	    	<div class="btn-activity col-12 text-center leadership">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Camps" %>
	    	<div class="btn-activity col-12 text-center camps">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "First Aid" %>
	    	<div class="btn-activity col-12 text-center firstAid">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "D of E" %>
	    	<div class="btn-activity col-12 text-center dofe">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% when "Other" %>
	    	<div class="btn-activity col-12 text-center other">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>
    	<% else %>
	    	<div class="btn-activity col-12 text-center">
    			<%= link_to activity_path(activity) do %>
    				<section>
    					<div>
    						<%= activity.title %>
 							</div>
 							<div>
 								<p><%= activity.activity_date.strftime('%-d %b') %></p>
 							</div>
     				</section>
    			<% end %>    	<% end %>
		    		
	    </div>
	   <% end %>
  <% end %>
</div>
</div>

		<% @user = current_user %>
		<% if @user.user_type == "admin" %>
			<%= link_to "Create a new activity", new_activity_path %>
		<% end %>