<% @user = current_user %>
<section class="activities_container">
	<h1><%= @activity.title %></h1>

	<p>Location: <%= @activity.location %></p>

	<p>Date: <%= @activity.activity_date.strftime("%A %-d %B %Y") %></p>

	<% if @activity.end_date %>
		<p>End date: <%= @activity.end_date.strftime("%A %-d %B %Y") %></p>
	<% end %>

	<p>Respond by: <%= @activity.respond_by.strftime("%A %-d %B %Y") %></p>

	<p>Details: <%= @activity.details %></p>
	
	<p><%= @activity.category %></p>


	<% unless Time.now > @activity.respond_by %>
		<% unless Attendance.find_by user_id: current_user.id, activity_id: @activity.id %>
			<% if @activity.level != "" %>
												<% levels = @activity.level.split(" ") %>
												<%= form_tag("/attendances", method: "post", class: "level_form") do |f| %>
													<%= select_tag :level, options_for_select(levels), class: "level_select" %>
													<%= hidden_field_tag :activity_id, @activity.id %>
													<%= hidden_field_tag :user_id, current_user.id %>
													<%= submit_tag "Attend this activity", class: "activity_button" %>
												<% end %>
			<% else %>	
				<%= link_to "Attend this activity", attendances_path(:user_id => current_user.id, :activity_id => @activity.id), method: :post, class: "activity_button" %>
			<% end %>
		<% else %>
				<%= link_to "Remove name from list", attendance_path(:user_id => current_user.id, :activity_id => @activity.id), method: :delete, data: {confirm: "Really remove yourself from the activity?"}, class: "activity_button" %>
		<% end %>
	<% end %>

	<%= link_to "Back to Activities List", activities_path, class: "activity_button" %>

	<section class="add_remove">
		<% if current_user.user_type == "admin" %>
			<p>Add/Remove Cadets</p>
			<%= form_tag("/attendances", method: "post") do |f| %>

				<% list = User.order(:username) %>

				<%= select_tag :user_id, options_from_collection_for_select(list, "id", "username") %>

				<%= hidden_field_tag :activity_id, @activity.id %>

				<%= submit_tag "Add" %>

			<% end %>

			<%= form_tag( attendance_path , method: "delete") do |f| %>

				<% list = User.order(:username) %>

				<%= select_tag :user_id, options_from_collection_for_select(list, "id", "username") %>

				<%= hidden_field_tag :activity_id, @activity.id %>

				<%= submit_tag "Remove" %>
				
			<% end %>

		<% end %>
	</section>

	<h1>Attendees:</h1>
	<ol>
		<% @activity.attendances.each do |attendance| %>
			<% if attendance.level %>
				<li class="attendee_li">
					<%= attendance.user.username %> <%= attendance.level %>
				</li>
			<% else %>
				<li class="attendee_li">
					<%= attendance.user.username %>
				</li>
			<% end %>
		<% end %>
	</ol>


	<% @user = current_user %>
	<% if @user.user_type == "admin" %>

		<%= form_tag('/report_email', method: "post") do |f| %>

			<%= hidden_field_tag 'id', @activity.id %>
			<%= hidden_field_tag 'title', @activity.title %>
</section>
			<%= hidden_field_tag 'location', @activity.location %>
			<%= hidden_field_tag 'date', @activity.activity_date %>
			<%= hidden_field_tag 'details', @activity.details %>
			<% attendee_ids = @activity.attendances.pluck(:user_id) %>
			<%= hidden_field_tag 'attendees', User.find(attendee_ids).pluck(:username) %>

			<%= submit_tag "Post Activity Report", class: "activity_links" %>
		<% end %>


		<%= link_to "Edit Activity", edit_activity_path(@activity), class: "activity_links" %>
		<%= link_to "Archive", archive_activity_path(@activity), data: {confirm: "Really archive this activity?  Have you sent a Post Activity Report?"}, class: "activity_links" %>
		<%= link_to "Delete", activity_path(@activity), method: :delete, data: {confirm: "Really delete the activity?  Have you sent a Post Activity Report?"}, class: "activity_links" %>
	<% end %>