<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header> 
      <div class="logo_container">
        <%= image_tag "logo.png", class: "logo_image" %>
      </div><!--
      --><div class="title_container">
        <h1>2507 (Bicester) Squadron</h1>
      </div><!--
      --><div class="menu_container">
        <div class="menu_button">
        </div>
      </div>
    </header>

  	<% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <main class="menu_open">
      <%= link_to root_path do %>
      <section id="home" class="menu_icon">
        <%= image_tag "home.png" %>
        <h2>Home</h2>
      <% end %>
      </section><!--

      --><section id="tp" class="menu_icon">
            <%= link_to image_tag("tp.png"), asset_path("tp.pdf"), target: "_blank" %>
            <h2>Training</h2>
          
      </section><!--

      --><section id="about" class="menu_icon">
        <%= link_to about_path do %>
          <%= image_tag "about.png" %>
          <h2>About Us</h2>
        <% end %>
      </section><!--

      --><section id="portal" class="menu_icon">
          <%= link_to activities_path do %>
            <%= image_tag "portal.png" %>
            <h2>Portal</h2>
          <% end %>
      </section><!--

      --><section id="join" class="menu_icon">
          <%= link_to join_path do %>
            <%= image_tag "join.png" %>
            <h2>Joining Us</h2>
          <% end %>
      </section><!--

      --><section id="gallery" class="menu_icon">
        <%= link_to gallery_path do %>
          <%= image_tag "gallery.png" %>
          <h2>Gallery</h2>
        <% end %>
      </section><!--

      --><section id="contact" class="menu_icon">
        <%= link_to contact_path do %>
          <%= image_tag "contact.png" %>
          <h2>Contact</h2>
        <% end %>
      </section><!--

      --><section id="calendar" class="menu_icon">
        <%= link_to calendars_path do %>
          <%= image_tag "calendar.png" %>
          <h2>Calendar</h2>
        <% end %>
      </section><!--
      
      --><section id="forms" class="menu_icon">
        <%= link_to forms_path do %>
          <%= image_tag "forms.png" %>
          <h2>Forms</h2>
        <% end %>
      </section>
    </main>

    <%= yield %>
    
    <footer>
      <section class="footer_left">
        <h6>
          <% if logged_in? %>
            Logged in as<%= link_to "#{current_user.username}", edit_user_path(current_user) %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
      </section>

      <section class="footer_right">
        <ul>
          <li class="footer_item"><a href="#">Webmaster</a></li>
          <li class="footer_item"><a href="#">Contact</a></li>
        </ul>
      </section>
    </footer>
  </body>
</html>